/* App.css */
.page-container {
  display: flex;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.upper-right, .middle-right, .bottom-right {
  width: 100%;
  border: 2px;
  /* Add additional styles as needed for spacing, backgrounds, etc. */
}
